:root {
    --primary: #14274e;
    --secondary: #394867;
    --third : #9ba4b4;
    --text-primary : #292929;
    --text-secondary : #f1f6f9;
    --active-link : #b3b3b3;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color:  #f0f0f0;
}

.star-bg-gradient{
    background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, #14274e 92.5% );
}

.star-bg-favourite{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(226, 186, 94) 0%, rgb(245, 63, 175) 100.7% );
}

.star-bg-primary {
    background-color: var(--primary);
}

.star-bg-secondary{
    background-color: var(--secondary);
}

.star-bg-third{
    background-color: var(--third);
}
  
.star-color-primary{
    color: var(--primary);
}

.star-color-secondary{
    color: var(--secondary);
}

.star-color-third{
    color: var(--third);
}

.star-text-primary-color{
    color: var(--text-primary);
}

.star-text-secondary-color{
    color: var(--text-secondary);
}

.font-10{
    font-size: 10px;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.star-link{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.star-active-link{
    color: var(--primary);
    cursor: pointer;
    text-decoration: underline;
    user-select: none;

}

.star-link:hover{
    text-decoration: none;
    color: inherit;
    user-select: none;
}

.star-input:focus{
    outline: none;
}

.image-not-draggable{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.ai-modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .ai-modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .ai-display-block {
    display: block;
  }
  
  .ai-display-none {
    display: none;
  }